extends _layouts/root.jade

block prepend title
  | Home

block content
  .splash.g--12.no-margin
    h1 Doing is Living.
  .teaser.g--12.no-margin
    h2 Get Involved Now!
  #more-heart
  .pitch.g--10.m--1.no-margins-vertical
    h1 Get invited to volunteer opportunities from all over the world by joining the Sparks.Network.

  .cta.g--12.no-margin
    h1 Sign up for the <br/> Sparks.Network!
    .container.g--8.m--2.no-margin-vertical
      .g--6.center.no-margin-vertical
        button.btn--raised.google Login with Google
      .g--6.center.no-margin-vertical
        button.btn--raised.facebook Login with Facebook
