<html>
  <head>
    <title>{{title}} | Sparks.Network</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Content-Langauge" content="en" />
    <link rel="stylesheet" href="scss/styles.css" />
  </head>
  <body id="{{{pageId}}}">
    <header class="g--12 no-margin">
      <div class="g--10 m--1 container no-margin">
        <a href="/">
          <img src="images/sn-logo-32.png" />
        </a>
      </div>
    </header>
    <main class="container g--10 m--1">
      <div class="card">
        {{{contents}}}
      </div>
    </main>
    <footer class="g--12 no-margin">
      <div class="g--10 m--2 container container--wrap no-margin-vertical">
        <!-- <div class="g--4 g-s--12 text-center"> -->
        <div class="g--4 g-s--12 no-margin">
          <ul>
            <li><h3>Contact</h3></li>
            <li><a href="mailto:help@sparks.network">Help</a></li>
            <li><a href="mailto:sdebaun@sparks.network">Other</a></li>
          </ul>
        </div>

        <div class="g--4 g-s--12 no-margin">
          <ul>
            <li><h3>About</h3></li>
            <li><a href="service.html">Service</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="refund-policy.html">Refund Policy</a></li>
            <li><a href="terms-of-service.html">Terms of Service</a></li>
          </ul>
        </div>

        <div class="g--4 g-s--12 no-margin">
          <ul>
            <li><h3>News</h3></li>
            <li><a href="https://www.facebook.com/sparksvolunteers" target="_blank">Facebook</a></li>
            <li><a href="blog.sparks.network">Blog</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
