<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Content-Langauge" content="en" />
    <link rel="stylesheet" href="/scss/styles.css" />
  </head>
  <body>
    <div id="contents">

      <header class="container">
        <div class="m--1 g--4">
          <a href="http://sparks.network" target="_blank">
            <img src="/images/sn-logo-32.png" />
          </a>
        <div>
      </header>

      <main class="card">
        {{{contents}}}
      </main>

      <footer class="bg--gun-metal">
        <div class="g--3 g-m--2 g-s--12 inline-block text-center">
          <ul>
            <li><h3 style="text-decoration: underline;">Contact</h3></li>
            <li><a href="mailto:help@sparks.network">Help</a></li>
            <li><a href="mailto:sdebaun@sparks.network">Other</a></li>
          </ul>
        </div>

        <div class="g--3 g-m--2 g-s--12 inline-block text-center">
          <ul>
            <li><h3 style="text-decoration: underline;">About</h3></li>
            <li><a href="/service.html">Service</a></li>
            <li><a href="/privacy-policy.html">Privacy Policy</a></li>
            <li><a href="/refund-policy.html">Refund Policy</a></li>
            <li><a href="/terms-of-service.html">Terms of Service</a></li>
          </ul>
        </div>

        <div class="g--3 g-m--2 g-s--12 inline-block">
          <ul>
            <li><h3 style="text-decoration: underline;">News</h3></li>
            <li><a href="https://www.facebook.com/sparksvolunteers" target="_blank">Facebook</a></li>
            <li><a href="blog.sparks.network">Blog</a></li>
          </ul>
        </div>

      </footer>
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
