<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Sparks.Network</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="Content-Langauge" content="en" >
    <link rel="stylesheet" href="scss/styles.css" >
  </head>
  <body id="{{{pageId}}}">
    <header class="container-fluid header">
      <div class="row">
        <div class="col-xs-3 hidden-sm-up">
          <img src="images/logo-256.png" height="32">
        </div>
        <div class="col-sm-8 hidden-xs-down">
          <a href="/">
            <img src="images/sn-logo-32@2x.png" width="300" height="32">
          </a>
        </div>
        <div class="col-xs-9 col-sm-4 text-xs-right">
          <a href="/">
            <img src="images/btn_google_signin_light_normal_web@2x.png" height="32">
          </a>
        </div>
      </div>
    </header>

    <div class="section hero container-fluid">
      <div class="row hero-overline">
        <div class="col-xs-12 text-xs-center">
          Doing is Living
        </div>
      </div>
      <div class="row hero-underline">
        <div class="col-xs-12 text-xs-center">
          Get Involved Now!
        </div>
      </div>
    </div>

    <main class="container-fluid section">
      <div class="container">
        <div class="row section-title">
          <div class="col-xs-12 text-xs-center">
            Get invited to volunteer opportunities from all over the world by joining the sparks.network
          </div>
        </div>

        <div class="row points">
          <div class="col-md-4" style="background-image: url('images/icon-flag.svg')">
            <strong>Have new experiences</strong> by participating in lots of different events.
          </div>
          <div class="col-md-4" style="background-image: url('images/icon-mountains.svg')">
            <strong>Get rewarded</strong> for the help that you give with perks and access to new opportunities.
          </div>
          <div class="col-md-4" style="background-image: url('images/icon-first.svg')">
            <strong>Be recognized</strong> for your contributions with Karma, Accomplishments, and Triumphs.
          </div>
        </div>
      </div>
    </main>

    <footer class="section footer container">
      <div class="row">
        <div class="col-xs-4 col-lg-2 col-lg-offset-3 text-xs-right menu">
          <ul>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="http://blog.sparks.network">Our Blog</a></li>
            <li><a href="http://blog.sparks.network">Word Effect</a></li>
            <li><a href="team.html">Meet the Team</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-xs-4 logo">
          <div class="row">
            <div class="col-xs-12">
              <a href="/">
                <img src="images/logo-256.png" height="64">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 contact">
              <a href="mailto:help@sparks.network" class="email">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-envelope fa-inversea fa-stack-1x"></i>
                </span>
              </a>
              <a href="https://www.facebook.com/sparksvolunteers" target="_blank" class="facebook">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-facebook-official fa-stack-1x"></i>
                </span>
              </a>
              <a href="http://blog.sparks.network" class="blog">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-rss fa-stack-1x"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-xs-4 text-xs-left menu">
          <ul>
            <li><a href="service.html">Service</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="refund-policy.html">Refund Policy</a></li>
            <li><a href="terms-of-service.html">Terms of Service</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-xs-right copyright">© 2016 Sparks.Network</div>
      </div>
    </footer>
    <script src="https://use.fontawesome.com/7312ef9a0f.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
